<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document PUBLIC
  "-//Apache Software Foundation//DTD XDOC 1.0//EN"
  "http://maven.apache.org/dtd/xdoc_1_0.dtd">
<!--
  Copyright 2009-2013 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the  "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS"
  BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<document>
  <properties>
    <title>Introduction</title>
  </properties>
  <body>
    <section name="Introduction">
      <subsection name="What is the Feed Creator?">
        <p>
          <b>Feed Creator</b>
          was previously known as the RSS Feed Creator Project
        </p>
        <p>
          <b>Feed Creator</b>
          is an addon for Hippo CMS that lets you create
          <a href="http://cyber.law.harvard.edu/rss/rss.html">RSS feeds</a>,
          <a href="http://www.atomenabled.org/developers/syndication/atom-format-spec.php">ATOM feeds</a>
          and  provides an API which enables you to create your own web syndications
          with the CMS. You can create as many feeds as you like, and for each
          feed you can setup filters to determine which documents to include.
        </p>
      </subsection>
      <subsection name="Project status">
        <!--todo-->
        <p>
          This release of the Feed Project is compatible with on CMS 7.8 and 7.9. See the table below for the latest stable version of the plugin for your project.
        </p>
        <table border="1" cellpadding="0" cellspacing="5">
          <tbody>
            <tr>
              <th>Hippo CMS version</th>
              <th>Latests stable plugin version</th>
            </tr>
            <tr>
              <td>7.9.x</td>
              <td>2.02.00</td>
            </tr>
            <tr>
              <td>7.8.x</td>
              <td>2.01.03</td>
            </tr>
          </tbody>
        </table>
        <p>
          See the
          <a href="https://forge.onehippo.org/gf/project/feeds/tracker/">project tracker</a>
          for a list of bugs and feature requests.
        </p>
      </subsection>
      <subsection name="How can I use Feed Creator in my project?">
        <p>
          Follow the
          <a href="install.html">install</a>
          and
          <a href="usage.html">usage</a>
          instructions.
        </p>
      </subsection>
    </section>
  </body>
</document>
